table {
    width: 100%;
}
mat-form-field{
    font-size: 14px;
    width: 30%;
}
.pointer{
    cursor: pointer;
}
.a{
    margin-top: 10px;
    margin-left: 10px;
}
th{
    color: blue;
}
.b{
    margin-left: 10px;
}